<p>
  <strong>面接日程:</strong>
  <%= @interview.candidate %>
</p>
<p>
  <strong>承認状態:</strong>
  <%= t "model.interview.approval.#{@interview.approval}" %>
</p>
<%= link_to '編集する', edit_user_interview_path(@user, @interview) %>
<%= link_to '戻る', root_path %>
