<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>面接希望日が決まりました</h1>
    <p><%= @user.name %>さんの面接希望日が決まりました</p>
    <p>以下の URL から、面接日時の承認をよろしくお願いします。</p>
    <p><%= @url %>をクリックしてください。</p>
  </body>
</html>
